"""Implementation for {{command_name}} command."""


def execute():
    """Implementation of {{command_name}} command

    Add your command implementation here.
    """
    print("{{command_name}} implementation - add your code here!")
