"""{{command_name}} command for Dia CLI."""
import click


@click.command()
def cli():
    """{{command_name}} command - add your description here"""
    click.echo("{{command_name}} command executed!")
    # Add your implementation here
