import click
from loguru import logger
from utils.mdk_config import Config, pass_mdk_config
from commands import {{command_name}}_cmd


## @defgroup {{command_name}}_grp {{command_name}}
#  Everything related to `mdk {{command_name}}` command.
#  @{

## @package {{command_name}} Command declarations for `{{command_name}}` top-level command

@click.group(invoke_without_command=True)
@click.pass_context
@pass_mdk_config
def cli(mdk_context: Config, ctx: click.Context):
    """! {{command_name}}
    \f
    invoked with `mdk {{command_name}}`
    @param [in] ctx the Click context
    """
    if ctx.invoked_subcommand is None:
        {{command_name}}_cmd.execute(mdk_context)
    else:
        pass

## @}
